.one-tile {
  background: url("https://source.unsplash.com/featured/?pants") no-repeat
    center center;
}

.two-tile {
  background: url("https://source.unsplash.com/featured/?men,shirt") no-repeat
    center center;
}

.three-tile {
  background: url("https://source.unsplash.com/featured/?suits") no-repeat
    center center;
}

.four-tile {
  background: url("https://source.unsplash.com/featured/?socks") no-repeat
    center center;
}

.five-tile {
  background: url("https://source.unsplash.com/featured/?shirts") no-repeat
    center center;
}

.six-tile {
  background: url("https://source.unsplash.com/12V36G17IbQ/1600*800") no-repeat
    center center;
}

.box-text {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}
